aws-profile.json
.env

*.tgz
.codeclimate.yml
codeclimate_id.txt
.idea
.vscode
coverage/
Jenkinsfile

examples/
dist/
src/
webpack.config.js
webpack-dev.config.js
babel.config.js
.eslintignore
.eslintrc.js

test/
jest.config.js

index.ts
fixup
tsconfig.json
tsconfig.cjs.json
tsconfig.base.json
.prettierrc.json
